h3 About
p The Clearinghouse Project is intended to be an extensible collection/repository of metadata application profiles, mappings, and related specifications that aid or guide descriptive metadata conventions in digital repository collections.

p The mission of this Clearinghouse project is to provide the metadata community with a central hub of varied example approaches to metadata guidance, as well as providing a way for the community to share work with peers in that community. Whether creating an application profile from scratch or updating a legacy profile, it can be helpful to review the metadata guidelines of other institutions and, where it makes sense to do so, align local practices with community standards.

p The starting scope for this project is primarily focused on digital repository descriptive metadata documentation and specifications. This initial groundwork does not preclude the inclusion of other metadata types or sources, nor does it mean that future iterations of this work will not broaden its scope.
