footer.footer
   div.row
      .col-xs-12
      p.center
        a.btn.btn-primary(target="_blank" rel="nofollow" href="https://dlfmetadataassessment.github.io/") <i class="icon-star-empty"></i>&nbsp;DLF Metadata Assessment Group
        &nbsp;&nbsp;
        a.btn.btn-default(target="_blank" rel="nofollow" href="#{github_url}") <i class="icon-github"></i>&nbsp;Project Code on Github
      p.footer-about
        span <a href="#{root_url[environment]}about" rel="me">A clearinghouse of Metadata Application Profiles for digital collections</a>.
        br
        span.hidden-xs Interested in adding your institution's metadata guidelines to this site? <a href="#{form_url}" target="_blank">Click here!</a>
        br.hidden-xs
        span Powered by <a href="http://harpjs.com" target="_blank" rel="nofollow">HarpJS</a>, <a href="https://pages.github.com" target="_blank" rel="nofollow">Github Pages</a>, <a href="http://bootflat.github.io" target="_blank" rel="nofollow">Bootflat</a>, <a href="http://getbootstrap.com" target="_blank" rel="nofollow">Bootstrap</a> and licensed by <a href="https://mit-license.org/" target="_blank" rel="nofollow">MIT</a>.
        br
        span Maintained by the <a href="https://dlfmetadataassessment.github.io/" target="_blank" rel="me">DLF AIG Metadata Interest Group</a>.
