section.row-fluid.clearfix.hidden-xs.hidden-sm.social-buttons
  div.row
    .col-xs-12
      p.center See what else we're up to!<br>
        a.btn.btn-primary(target="_blank" rel="nofollow" href="https://dlfmetadataassessment.github.io/") <i class="icon-star-empty"></i>&nbsp;Powered by the DLF Metadata Assessment Group
  div.row
    .col-xs-12
      p.center See what else we're up to!<br>
        a.btn.btn-default(target="_blank" rel="nofollow" href="#{github_url}") <i class="icon-github"></i>&nbsp;Project Code on Github
