div.social-footer.visible-xs.visible-sm
  .row
    p.center
    div.center.btn-group(role="group")
      a.btn.btn-lg.btn-primary(target="_blank" rel="nofollow" href="https://dlfmetadataassessment.github.io/") <i class="icon-star-empty"></i>
      a.btn.btn-lg.btn-default(target="_blank" rel="nofollow" href="#{github_url}") <i class="icon-github"></i>
